{% extends 'base.html' %}
{% block content %}
   <!DOCTYPE html>
   <!-- Created By CodingNepal -->
   <center>
   <html lang="en" dir="ltr">
      <head>
         <meta charset="utf-8">
         <title>Login Form Design | CodeLab</title>
         <link rel="stylesheet" href="style.css">
      </head>
      <body>
         <div class="wrapper">
            <div class="title">
               Login Form
            </div>
            <form  method="POST">
               {% csrf_token %}
               <div>
                <label for="old password"></label>
                  {{form}}
               </div>
               <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
            </form>
         </div>
      </body>
   </html>
   </center>
{% endblock content%}